/* Here is your custom css styles. */
.card
{
    background:rgba(255,255,255,0.8)!important;
}
.card-action
{
    background-color:transparent!important;
}
.bg-color
{
    background:rgba(0,0,136,0.8)!important;
}
.cover-btns a:hover
{
    border: 1px solid #000088;
    background-color: #000088!important;
    box-shadow:0 14px 26px -12px rgba(0, 0, 136, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 136, 0.2);
}
.bg-cover
{
    background-image: none!important;
}
.index-cover
{
    filter: opacity(0.6);
}
blockquote
{
    border-left:5px solid #000088;
    background-color:rgba(0,0,136,.1);
}
#articleContent a,
#toc-content .is-active-link,
#artDetail .reprint a,
.text-color,
.github-corner svg
{
    color:#000088!important;
}
.progress-bar
{
    background:linear-gradient(to right, #000088 0%, rgba(0,0,136,0.6) 100%);
}
#artDetail .tag_share .article-tag .chip
{
    color:white;
}